@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/InterVariable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-family: "Inter", sans-serif;
}
